@model BugTracker.Models.RegisterViewModel
@using BotDetect.Web.Mvc
@{
    Layout = "~/Views/Shared/_signIn_signUp.cshtml";
    ViewBag.Title = "Регистрация";
}

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading horizontal-center"><span class="form-heading-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Регистрация</span></div>
            <div class="panel-body form-container">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registrationForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Электронная почта", type = "email" })
                            <div class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                            <div class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтверждение пароля" })
                            <div class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Имя" })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Фамилия" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                }

                <div class="form-group">
                    @{
                        MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                        exampleCaptcha.UserInputID = "CaptchaCode";
                        exampleCaptcha.HelpLinkEnabled = false;
                        exampleCaptcha.ReloadTooltip = "Обновить";
                        exampleCaptcha.SoundTooltip = "Прослушать";
                        exampleCaptcha.ImageSize = new System.Drawing.Size(220, 60);
                        exampleCaptcha.AutoFocusInput = false;
                        exampleCaptcha.SoundStyle = BotDetect.SoundStyle.Gun;
                    }
                    @Html.Captcha(exampleCaptcha)
                </div>
                <div class="form-group">
                    @Html.TextBox("CaptchaCode", null, new { @class = "form-control", placeholder = "Введите код с картинки" })
                    <span id="status"></span>
                </div>
                <script src="@Url.Content("~/Scripts/CheckCaptcha.js")"></script>
                <button type="submit" class="btn btn-primary btn-block" form="registrationForm">Зарегистрироваться</button>
            </div>
            <div class="panel-footer form-heading-text">@Html.ActionLink("Войти в систему", "Login", "Account")</div>
        </div>
    </div>
</div>