<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Bug tracker</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gridCss")
    <link href="~/Content/gridmvc.datepicker.css" rel="stylesheet" />
    <link href="~/Content/Styles/search.css" rel="stylesheet" />
</head>
<body style="height: 4000px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" id="menu_gear">
                    <span class="fa fa-gear fa-inverse fa-lg"></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BUG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="content-container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @if (!User.IsInRole("admin"))
    {
    <div class="right-sidebar moveHide" id="right-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="rightSidebar_2"><a href="@Url.Content("~/Application/ListApplication")"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
            <li role="presentation" id="rightSidebar_3"><a href="@Url.Content("~/Application/CreateApplication")"><i class='fa fa-plus-square fa-2x' aria-hidden='true'></i><div>Новая заявка</div></a></li>
        </ul>
    </div>
    }
    else
    {
    <div class="right-sidebar moveHide" id="right-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="rightSidebar_1"><a href="#"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Неразрешенные пользователи</div></a></li>
            <li role="presentation" id="rightSidebar_2"><a href="#"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
        </ul>
    </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/gridMvc")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.ru.js"></script>
    <script src="~/Scripts/bugTracker.gridmvc.js"></script>
    <script src="~/Scripts/search.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/site.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
