@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (!User.IsInRole("admin"))
    {
    <li>
        <div style="margin-top: 9px;">
            <a href="@Url.Content("~/User/CreateApplication")" class="btn btn-success" role="button">
                <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>&nbsp;Новая заявка
            </a>
        </div>
    </li>
    }

    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName()+ "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
            </ul>
        }
    </li>
    if (!User.IsInRole("admin"))
    {
    <div class="right-sidebar moveHide" id="right-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="rightSidebar_2"><a href="@Url.Content("~/User/ListApplication")"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
            <li role="presentation" id="rightSidebar_3"><a href="@Url.Content("~/User/CreateApplication")"><i class='fa fa-plus-square fa-2x' aria-hidden='true'></i><div>Новая заявка</div></a></li>
        </ul>
    </div>
    }
    else
    {
        <div class="right-sidebar moveHide" id="right-sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" id="rightSidebar_1"><a href="#"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Неразрешенные пользователи</div></a></li>
                <li role="presentation" id="rightSidebar_2"><a href="#"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
